<nav class="navbar navbar-light bg-light text-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">Inicio</a>
    <form class="d-flex input-group w-auto">
      
      <a class="nav-link disabled" routerLink="/login">Login <span class="sr-only">(current)</span></a>
      <a class="nav-link disabled" routerLink="/dashboard">Dashboard</a>
      <a class="nav-link disabled" routerLink="/users">Users</a>
      <a class="nav-link disabled" routerLink="/account-settings">Account Settings</a>
     
      <form class="form-inline">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form>
    </form>
  </div>
</nav>

